@import "tailwindcss";

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200%);
    }
}

#marquee-content {
    animation-name: marquee;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
}

.stack1 {
    z-index: -1;
    opacity: 0.5;
}

.stack2 {
    z-index: -2;
    opacity: 0.5;
}